body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.select_sy{
    min-width: 280px;
}
.not_show{
    visibility: hidden;
}
body {
    /*background-image: url('../imags/OIG.jpeg');
    background-size: cover;*/ /* Bild deckt verfügbaren Raum ab */
    /*background-position: center;*/ /* Zentriert das Bild */
    /*background-repeat: no-repeat;*/ /* Keine Wiederholung des Bildes */
    /*height: 75vh;*/ /* Setzt die Höhe des Elements auf die Höhe des Viewports */
}